<!DOCTYPE html>
<html>
<head>
  <title>WordScrambleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
		<ul id="navbar">
			<% if session[:current_user_id] %>
				<%= render partial: 'sessions/navbar', locals: { navbar: [:welcome, :profile, :home, :log_out] } %>
			<% else %>
				<%= render partial: 'sessions/navbar', locals: { navbar: [:log_in, :sign_up, :home] } %>
			<% end %>
	
		</ul>
</header>

<h1 class="header"> Word Scramble</h1>



<%= yield %>

</body>
</html>
