<!DOCTYPE html>
<html>
<head>
  <title>WordScrambleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<header>
			<% if session[:current_user_id] %>
				<%= render partial: 'sessions/navbar', locals: { navbar: [:welcome, :profile, :game, :log_out] } %>
			<% else %>
				<%= render partial: 'sessions/navbar', locals: { navbar: [:log_in, :sign_up, :game_guest] } %>
			<% end %>
</header>

<% if session[:current_user_id] %>
<div class="game-history">
	<p class="word">Game History: </p>
	</div>
<% end %>
<%= yield %>

</body>

</html>